# true = inspection enabled
# false = inspection disabled
# default: true
sigsci_enabled true

# phase hook values: read_req_hdrs post_remap 
# default: post_remap
# NOTE: read_req_hdrs phase runs before remap phases - so although it will honor
# global inspection disabled, it will not honor the remap inspection enabled or
# disabled if set in remap.config
sigsci_handler_phase post_remap

# max post body size in bytes to send to the agent
# max allowed: 2000000
# default: 100000
#max_post_len 8800

# true = use Unix Domain Socket for comm with the sigsci agent
# false = not using Unix Domain Socket - implies using tcp port
# default: true
unix_rpc true

# tcp port to comm with the sigsci agent
# Do not specify if unix_rpc is being used
# default: 0
#agent_port 9999

# unix domain socket: file path for UDS
# tcp: ip address or hostname where agent is running
# default: "/var/run/sigsci.sock"
agent_host "/var/run/sigsci.sock"

# agent response time in millis
# default: 100
#agent_timeout 50

# anomalous response size in bytes
# default: 524288
#anom_resp_size 4096

# anomalous response time in millis
# default: 1000
#anom_resp_time 100
